# Python files
*.pyc
*.ipynb

# Test data, results and analysis
/results
/test_data
/color_maps

# Old Code
/old_code

# Rubbish
*test*
untitled*
line_scans.py

#Docs
/docs/_*

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
