# Python files
*.pyc
*.ipynb

#Docs
/docs/_*

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Extra

edi12/XRD_tools_b.py
edi12/test/5*