# Python files

*.pyc

.pypirc



#Docs

/docs/_*

#Data
/pyxe/data/*.h5
/pyxe/data/test.csv
/pyxe/test/_pyxe.h5



# Distribution
.idea
bin/

build/

develop-eggs/

dist/

eggs/

lib/

lib64
/
parts/

sdist/

var/

*.egg-info/

.installed.cfg

*.egg

.coverage

.spyderworkspace
